p {
    margin-bottom: 15px;

  }

eca-menu {
  ::ng-deep eca-menu-item {
    ::ng-deep mat-card {
      min-height: 120px;
    }
  }
}


.dropDown {
  ::ng-deep .mat-select-value {
    max-width: none !important;
    width: auto !important;
    display:flex;
    min-width: 160px;
    }
}