
@import './main.theme';

@mixin themed-styles($theme, $typography) {
    /* Include themed component mixins or theme dependent styles here */
    @include main-component-theme($theme, $typography);
}

@mixin global-styles {
    body {
        margin-top: 10px!important;
      }

    .commands-container {
        margin-top: 10px;
        width: fit-content;
    }
    
    .spinner {
        float: right;
    }
    
    .commands-container button {
        margin-right: 10px;
    }
    
    div.title {
        display: flex;
        margin-top: 10px;
    }
    
    div.title a {
        margin-left: auto;
    }    
    
    .loading-shade {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.15);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }    
}

@mixin form-fields-parent {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
    .mat-form-field {
        display: contents;
    }
    ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 5px !important;
    }
}


@mixin form-feild-full-width {
    .form-feild-full-width{
        width: 100%;
    }
}
  
@mixin form-field-half {
    .form-field-half {
        width: 49%;
        min-width: 200px;
        flex-grow: 1;
    }
}
  
@mixin form-field-third {
    .form-field-third {
        width: 32%;
        min-width: 200px;
        flex-grow: 1;
    }
}
  
@mixin form-field-quarter {
    .form-field-quarter {
        width: 18%;
        flex-grow: 1;
        min-width: 130px;
    }
}

