<div class="full-view-record">
  <ng-container *ngFor="let line of resultFullDisplay;index as i ">
    <!-- <div *ngFor="let line of resultFullDisplay;index as i" class="full-view-line {{isEvenRow(i)}}"> -->
    <div class="full-view-line-header {{isEvenRow(i)}}">
      {{line.getHeaderLabel()}}
    </div>
    <div class="full-view-line-content {{isEvenRow(i)}}">
      <div class="full-view-line-field " *ngFor="let field of line.getContent()">
        <div class="full-view-line-field-label" *ngIf="field.hasLabel()">
          {{field.getLabel()}}
        </div>
        <a *ngIf="field.isInternalLink() else noLink" (click)="onFullViewLink(field.getLink(), field.getContent())">
          {{field.getContent()}}
        </a>
        <ng-template #noLink>
          {{field.getContent()}}
        </ng-template>
      </div>
    </div>
  </ng-container>
<!-- </div> -->
</div>