.align-space-between {
  justify-content: space-between;
  margin-bottom: 20px;
}

.align-to-left {
  justify-content: flex-start;
  margin-bottom: 15px;
}

.align-to-right {
  justify-content: flex-end;
  margin-bottom: 15px;
}

::ng-deep .cdk-overlay-pane
{
  min-width: auto !important;
  width: 90%;
}