<div *ngIf="bibs.length>0 else nobibs" fxLayout="column">
  
  <div class="align-space-between" fxLayout="row">
    <a [routerLink]="['']">
      <button mat-flat-button color="secondary">
        <mat-icon>arrow_back_ios</mat-icon>
        {{'Back' | translate}}
      </button>
    </a>
    <button mat-flat-button color="primary" aria-label="search" (click)="search()" [disabled]="!selected">
      {{ 'Main.RetrieveHoldings' | translate }}
    </button>
  </div>

 <!-- <error-message-inpu-output *ngIf="isErrorMessageVisible" [title]="title" [message]="message"
 (onCloseEvent)="onCloseClick()"></error-message-inpu-output> -->

  <p translate>Main.Intro</p>
  <mat-form-field>
    <mat-placeholder translate>Main.SelectBib</mat-placeholder>
    <mat-select panelClass="panel-class" [(value)]="selected">
      <mat-option *ngFor="let bib of bibs" [value]="bib.id">
        {{bib.description}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="loading-shade" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate" diameter="50">
    </mat-progress-spinner>
  </div>
</div>

<ng-template #nobibs>
  <div class="align-to-left" fxLayout="row">
    <a [routerLink]="['']">
      <button mat-flat-button color="secondary">
        <mat-icon>arrow_back_ios</mat-icon>
        {{'Back' | translate}}
      </button>
    </a>
  </div>
  <p translate>Main.NoRecords</p>
</ng-template>