.controllers-group {
    display: grid;
    grid-template-columns: 40px 40px 40px;
    grid-template-rows: auto;
    justify-items: center;
    width: fit-content;
}

.add-controller {
    grid-column: 1;
}

.copy-controller {
    grid-column: 2;
}

.delete-controller {
    grid-column: 3;
}

// .icon-controller {
//     margin: 10px;
//     width: 20px
// }