.controllers-group {
    display: grid;
    grid-template-columns: 40px 40px 40px;
    align-items: center;
    justify-items: center;
    align-items: center;
    width: fit-content;
}

.add-controller {
    grid-column: 1;
}

.copy-controller {
    grid-column: 2;
}

.delete-controller {
    grid-column: 3;
}
