p {
    margin-bottom: 15px;
  }

.align-to-left {
  justify-content: flex-start;
  margin-bottom: 15px;
}

.align-to-right {
  justify-content: flex-end;
  margin-bottom: 20px;
}

.mat-form-field {
  display: contents;
}

.form-card-parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 20px;
  row-gap: 1em;
  background-color: whitesmoke !important;
}

.form-card-child-large{
  display: block;
  grid-column-start: 1;
  grid-column-end: -1;
}

.form-card-child-regular{
  display: block;
}

.result-list-item{
  padding-bottom: 15px !important;
}

.result-card{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: whitesmoke !important;
}

.result-card-index {
  margin-right: 20px;
}

 .result-card-content {
  margin: 0px;
}

.noResults{
  text-align: center;
  height: fit-content;
  margin-top: 40px;
}

.full-view-line {
  display: grid;
  grid-template-columns: 100px auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.even {
  background-color: whitesmoke;
}

.full-view-line-header {
  font-weight: bold;
  padding-right: 15px;
}

.full-view-line-content {
  display: flex;
  flex-wrap: wrap;
}

.full-view-line-field-label {
  font-weight: bold;
  padding-right: 5px;
}

.full-view-line-field {
  display: flex;
  padding-right: 10px;
}
