<div class="holdings-wrapper">

  <div class="align-space-between" fxLayout="row">
    <a [routerLink]="backSession">
      <button mat-flat-button color="secondary">
        <mat-icon>arrow_back_ios</mat-icon>
        {{'Back' | translate}}
      </button>
    </a>
    <button mat-flat-button color="primary" [routerLink]="['/holdings', mmsId, 'new', mmsTitle]">
      <mat-icon>add</mat-icon> {{ 'Holdings.Add' | translate }}
    </button>
  </div>

  <div>
    <h3>{{mmsTitle}}</h3>

    <div class="holdings-drop-down">
      <mat-form-field class="holdings-mat-drop-down">
        <mat-placeholder>{{'Holdings.Owner' | translate}}</mat-placeholder>
        <mat-select [(value)]="selected" (selectionChange)=onOwnerSelected()>
          <mat-option *ngFor="let owner of owners" [value]="owner.id">
            {{owner.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="isHoldingRecordsExist()" class="title">
      <h2>{{'Holdings.Title' | translate}} ({{getNumOfRecords()}})</h2>
    </div>

    <div class="loading-shade" *ngIf="loading">
      <mat-progress-spinner mode="indeterminate" diameter="50">
      </mat-progress-spinner>
    </div>
  </div>

  <div *ngIf="isHoldingRecordsExist() else emptyList">
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let holding of getDisplayHoldings(); index as i">
        <mat-card class="holdings-cards">
          <div fxLayout="row">
            <div class="holdings-cards-index">
              <span><strong>{{i + 1}}</strong></span>
            </div>
            <mat-card-title>
              <a [routerLink]="['/holdings', mmsId, 'view', holding.ID, mmsTitle]">
                {{'Holdings.ID' | translate}}: {{holding.ID}}
              </a>
            </mat-card-title>
          </div>
          <mat-card-content class="holding-card-content">
            <span><strong>{{'Holdings.Library' | translate}}: {{holding.libraryFullName}}</strong></span>
            <span><strong>{{'Holdings.Location' | translate}}: {{holding.LOC}}</strong></span>
            <span><strong>{{holding.info}}</strong></span>
          </mat-card-content>
          <mat-card-actions class="holding-card-actions" *ngIf="holding.editable">
            <i class="uxf-icon uxf-pencil eca-button" aria-label="Edit"
              [routerLink]="['/holdings', mmsId, 'edit', holding.ID, mmsTitle]"></i>
            <i class="uxf-icon uxf-trash eca-button" style="margin-left: 20px;" aria-label="Delete"
              (click)="delete(mmsId, holding.ID)"></i>
          </mat-card-actions>
        </mat-card>
      </mat-list-item>
    </mat-list>
  </div>

  <ng-template #emptyList>
    <div id="emptyList">
      <span class="uxf-icon uxf-list" style="font-size: 3em;"></span>
      <h2>{{'Holdings.NoHoldingRecordsExist' | translate}}</h2>
    </div>
  </ng-template>

</div>