@mixin flexText {
  display: flex;
}

@mixin filedPadding {
  padding-right: 3px;
}


.result-card{
  @include flexText;
  justify-content: space-between;
  width: 100%;
  background-color: whitesmoke !important;
}

.holding-card-actions {
  padding: 0px;
  margin: 0px;
}

.card-title {
  @include flexText;
  font-weight: bold;
  margin-left: 20px;
}

.card-title-field-label {
  @include filedPadding;
}

.card-title-field {
  @include flexText;
}

.card-content-line {
  @include flexText;
  flex-wrap: wrap;
}

.card-content-field {
  @include flexText;
}

.card-content-field-label {
  font-weight: bold;
  @include filedPadding;
}

.card-content-field-content {
  @include flexText;
  @include filedPadding;
}

a,
a label {
    cursor: pointer;
}
