<div class="full-view-record">
  <div *ngFor="let line of resultFullDisplay;index as i" class="full-view-line {{isEvenRow(i)}}">
    <div class="full-view-line-header">
      {{line.getHeaderLabel() | translate}}
    </div>
    <div class="full-view-line-content">
      <div class="full-view-line-field" *ngFor="let field of line.getContent()">
        <div class="full-view-line-field-label" *ngIf="field.hasLabel()">
          {{ field.getLabel() | translate}}
        </div>
 
        <div [ngSwitch]="field.getLinkState()">
          <div *ngSwitchCase="linkState.NoLink">
            {{field.getContent()}}
          </div>
          <a *ngSwitchCase="linkState.InternalLink" (click)="onFullViewLink(field.getLink(), field.getContent())">
            {{field.getContent()}}
          </a>
          <a *ngSwitchCase="linkState.ExternalLink" [href]="field.getExternalLink()" target="_blank">
            {{field.getContent()}}
          </a>
          <!-- <some-element *ngSwitchDefault>...</some-element> -->
        </div>

      </div>
    </div>
  </div>
</div>