<mat-form-field>
  <mat-label>{{'Catalog.Form.SelectDatabase' | translate}}</mat-label>
  <mat-select (selectionChange)="selectDatabase($event)" [(value)]="defaultDatabase"> 
    <mat-option *ngFor="let database of databasesList" value="{{database}}">
      {{ database }}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<mat-card class="form-card-parent" color="secondary">
  <form *ngFor="let field of fieldsList" class="{{field.getFieldLength()}}">
    <mat-form-field >
      <mat-label>{{ field.getFieldLabel() | translate }}</mat-label>
        <input matInput [formControl]="field.getFormControl()">
    </mat-form-field>
  </form>
</mat-card>