<div *ngIf="databasesList?.length > 0">
  <mat-form-field>
    <mat-label>{{'Catalog.Form.SelectDatabase' | translate}}</mat-label>
    <mat-select (selectionChange)="selectDatabase($event)" [(value)]="defaultDatabase"> 
      <mat-option *ngFor="let database of databasesList" value="{{database}}">
        {{ database }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-card class="form-card-parent" color="secondary">
  <form *ngFor="let field of fieldsList" class="{{field.getFieldLength()}}">
    <div *ngIf="isSelectedSearchField(field) else matInputField">
        <mat-form-field appearance="outline">
          <mat-label>{{ field.getFieldLabel() | translate }}</mat-label>
          <mat-select [formControl]="field.getFormControl()" multiple>
            <mat-option *ngFor="let val of field.getFieldValueList()" [value]="val.value">
              {{val.viewValue | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field> 
    </div>
    <ng-template #matInputField>
      <mat-form-field appearance="outline">
        <mat-label>{{ field.getFieldLabel() | translate }}</mat-label>
        <input matInput [formControl]="field.getFormControl()">
      </mat-form-field>
    </ng-template>






    
   
  </form>
</mat-card>