.mat-form-field {
  display: contents;
}

.form-card-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 30px;
  background-color: whitesmoke !important;
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 5px !important;
  }
}

.form-card-field-full-width {
  width: 100%;
}

.form-card-field-large {
  width: 45%;
  flex-grow: 1;
  min-width: 200px;
}

.form-card-field-medium {
  width: 30%;
  flex-grow: 1;
  min-width: 200px;
}

.form-card-field-small {
  width: 17%;
  // max-width: 130px;
  flex-grow: 1;
  min-width: 100px;
}

