<div class="header">
  <button mat-raised-button  [routerLink]="['']" class="back-button">
    <mat-icon>arrow_back</mat-icon>
    {{ 'Back' | translate }}
  </button>

  <button mat-raised-button color="primary" (click)="goNext()" [disabled]="!form.value.requestType">
    {{ 'Next' | translate }}
  </button>
</div>

<form *ngIf="form" [formGroup]="form">
  <section class="request-type-section">
    <p>{{ 'RequestType.SelectRequestType' | translate }}</p>
    
    <mat-radio-group formControlName="requestType">
      <mat-radio-button value='COPYO'>{{ 'RequestType.Copy' | translate }}</mat-radio-button>
      <mat-radio-button value='LOANO'>{{ 'RequestType.Loan' | translate }}</mat-radio-button>
    </mat-radio-group>
  </section>
</form>

