
  
<div class="align-space-between" fxLayout="row">
    <a [routerLink]="['']">
      <button mat-flat-button color="secondary">
        <mat-icon>arrow_back_ios</mat-icon>
        {{'General.Back' | translate}}
      </button>
    </a>
    <button mat-flat-button color="primary" aria-label="search" (click)="next()" [disabled]= "!selected">
      {{ 'ILL.Main.Next' | translate }}
    </button>
  </div>
  
  <div class="align-space-between" fxLayout="row">
  <button mat-flat-button color="secondary" aria-label="search" (click)="newSearch()" >
    {{ 'ILL.Main.NewSearchInNACSIS' | translate }}
  </button>
  </div>


 <div *ngIf="recordInfoList.length>0  || loading  else nobibs" fxLayout="column"> 
    <p translate>ILL.Main.Intro</p>
      <records-list  [recordsSummaryDisplay]="recordsSummaryDisplay"
        (onRadioSelected) = "onRadioClick($event)" >
      </records-list>
</div> 

 <div class="loading-shade" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate" diameter="50">
    </mat-progress-spinner>
  </div>

  
  <ng-template #nobibs>
    <p translate>ILL.Main.NoRecords</p>
  </ng-template>


