<div *ngIf="bibs.length>0 else nobibs" fxLayout="column">
  <div class="align-to-right" fxLayout="row">
    <button mat-flat-button color="primary" aria-label="search" (click)="search()" [disabled]="!selected">
      {{ 'Main.RetrieveHoldings' | translate }}
    </button>
  </div>

 <!--  -->
 <error-message-inpu-output *ngIf="isErrorMessageVisible" [title]="title" [message]="message"
 (onCloseEvent)="onCloseClick()"></error-message-inpu-output>
<!--  -->

  <p translate>Main.Intro</p>
  <mat-form-field>
    <mat-placeholder translate>Main.SelectBib</mat-placeholder>
    <mat-select [(value)]="selected">
      <mat-option *ngFor="let bib of bibs" [value]="bib.id">
        {{bib.description}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="loading-shade" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate" diameter="50">
    </mat-progress-spinner>
  </div>
</div>

<ng-template #nobibs>
  <p translate>Main.NoRecords</p>
</ng-template>