<div class="form-wrapper">

  <a *ngIf="isReadOnly">
    <button *ngIf="isReadOnly" mat-flat-button color="secondary" (click)="cancel()">
      <mat-icon>arrow_back_ios</mat-icon>
      {{'General.Back' | translate}}
    </button>
  </a>

  <div class="align-to-right" fxLayout="row">
    <button class="form-commands" *ngIf="!isReadOnly" mat-flat-button type="button" color="primary" (click)="cancel()">
      {{'General.Cancel' | translate}}
    </button>
    <button class="form-commands" *ngIf="!isReadOnly" [disabled]="!isAddEnabled()" mat-flat-button type="button"
      color="primary" (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
    <button class="form-commands" *ngIf="!isReadOnly" type="submit" mat-flat-button type="button" color="primary"
      (click)="save()">
      {{ 'General.Save' | translate }}
    </button>
  </div>

  <div class="title">
    <h2>
      {{ (isReadOnly ? 'Holdings.Form.ViewTitle' : holdingId ? 'Holdings.Form.EditTitle' : 'Holdings.Form.AddTitle') | translate}}
    </h2>
  </div>

  <div class="loading-shade" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate" diameter="50">
    </mat-progress-spinner>
  </div>

  <mat-card-title *ngIf="holdingId">{{'Holdings.ViewHoldings.ID' | translate}}: {{holdingId}}</mat-card-title>
  <span><strong>{{'Holdings.ViewHoldings.Library' | translate}}: {{getLibraryFullName()}}</strong></span>
  <br>
  <span><strong [innerHTML]="getMmsInfoTitle()"></strong></span>
  <br>
  <br>

  <mat-form-field class="form-input-location">
    <mat-label translate>Holdings.Form.Fields.Location</mat-label>
    <mat-select *ngIf="!isReadOnly else locationReadOnly" [formControl]="locationFormControl" required
      [(ngModel)]="holding.LOC">
      <mat-option *ngFor="let location of locationsList" value="{{location}}">
        {{ location }}
      </mat-option>
    </mat-select>
    <ng-template #locationReadOnly>
      <input matInput [formControl]="locationFormControl" [(ngModel)]="holding.LOC" readonly required>
    </ng-template>
  </mat-form-field>

  <form-fields [formFields]="allVolumes"></form-fields>
  <form-fields [formFields]="ltrList"></form-fields>

  <br><br><br>

  <div class="loading-shade" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate" diameter="50">
    </mat-progress-spinner>
  </div>
  
</div>