.flex-displaying {
  display: flex;
  flex-wrap: wrap;
  padding-right: 5px;
}

.bold-title {
  font-weight: bold;
}

.align-to-right {
  justify-content: flex-end;
  margin-bottom: 20px;
}

.form-commands {
  margin-right: 15px;
}

.form-input-location {
  display: contents;
}

.form-cards {
  background: whitesmoke !important;
}
