.align-space-between {
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .align-to-right {
    justify-content: flex-end;
    margin-bottom: 15px;
  }

  mat-form-field {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .form-wrapper {
    flex-direction: column;
    display: flex;
  
    .form-cards {
      overflow: hidden;
      padding-top: 0px;
      padding-bottom: 10px;
      padding-left: 0px;
      padding-right: 0px;
      margin-bottom: 40px;
       .form-card-inputs {
         padding-top: 10px;
         ::ng-deep .mat-form-field-wrapper {
          padding-bottom: 10px !important;
      }
      }
      .form-card-input-full-width {
        width: 96%;
        padding-top: 10px;
        min-width: 285px;
        ::ng-deep .mat-form-field-wrapper {
         padding-bottom: 10px !important;
       }
      }
      .form-card-inputs-large {
        padding-top: 10px;
        width: 49%;
        min-width: 285px;
        flex-grow: 1;
        ::ng-deep .mat-form-field-wrapper {
         padding-bottom: 10px !important;
        }
      }
      .form-card-inputs-medium {
        padding-top: 10px;
        width: 32.3%;
        min-width: 285px;
        flex-grow: 1;

      }
      .form-card-inputs-small {
        padding-top: 10px;
        width: 24%;
        flex-grow: 1;
        min-width: 140px;

      }
    }
  
    .form-commands {
      margin-right: 15px;
    }
  
 
  
    .align-to-right {
      justify-content: flex-end;
      margin-bottom: 20px;
    }
  
    mat-list-item {
      i.eca-button,
      i.cloudapp-button {
        visibility: visible !important;
      }
      &:hover i.eca-button,
      &:hover i.cloudapp-button {
        visibility: visible;
      }
    }
  }