.error-message {
    //background-color: #e54746; // alma
    border: 2px solid #bd362f;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.close-icon{
    display: block;
    color: white;
}

.close-button {
    background-color:#bd362f!important;
    width: 35px!important;
    min-width: unset!important;
    margin-top: -2px!important;
}

.message-area-all {
    margin-left: 10px;
}

.message-area {
    margin-bottom: 15px;
}