mat-form-field {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 20px;
  margin-left: 20px;
}

mat-checkbox {
  margin-bottom: 20px;
  display: block;
}

mat-card {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 0;
  padding: 0px;
  background: whitesmoke !important;
}

.form-wrapper {
  flex-direction: column;
  display: flex;
  //height: calc(100vh - 55px);

  .form-cards {
    overflow: auto;
    //border-bottom: 1px solid grey;
    //border-top: 1px solid grey;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 40px;

    .form-card-inputs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .form-commands {
    margin-right: 15px;
  }

  .form-input-location {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 15%;
    min-width: 250px;
  }

  // .align-space-between {
  //   justify-content: space-between;
  //   margin-bottom: 20px;
  // }

  .align-to-right {
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  .delete-command {
    // height:fit-content;
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-right: 15px;
    
  }
}