<div class="controllers-group">
    <div *ngFor="let controller of controllersEnabledMap | keyvalue" class="icon-controller {{controller.key.className}}">
        <div *ngIf="(controller.value && !disabled) else disabledController">
            <mat-icon class="eca-button" (click)="onControllerClick(controller.key)">
                {{controller.key.iconName}}
            </mat-icon>
        </div>
        <ng-template #disabledController>
            <mat-icon class="disabledController">
                {{controller.key.iconName}}
            </mat-icon>
        </ng-template>
        
    </div>
</div>