<div class="holdings-wrapper">

  <div>
    <div class="title">
      <h2>{{'Holdings.Title' | translate}}</h2>
      <a [routerLink]="['']">
        <button mat-raised-button>
          <mat-icon>arrow_back</mat-icon>
          {{'Back' | translate}}
        </button>
      </a>
    </div>

    <div class="loading-shade" *ngIf="loading">
      <mat-progress-spinner mode="indeterminate" diameter="50">
      </mat-progress-spinner>
    </div>
  </div>

  <div class="holdings-title-wrapper">
    <h3>{{mmsTitle}}</h3>
    <div class="holdings-drop-down">
      <mat-form-field class="holdings-mat-drop-down">
        <mat-placeholder>{{'Holdings.Owner' | translate}}</mat-placeholder>
        <mat-select [(value)]="selected" (selectionChange)=onOwnerSelected($event)>
          <mat-option *ngFor="let owner of owners" [value]="owner.id">
            {{owner.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="holdings-cards">
    <!-- <h3>{{bib?.title}}</h3> -->
    <div>
      <mat-card *ngFor="let holding of getDisplayHoldings()">
        <!-- <mat-card-title>{{holding.description}}</mat-card-title> -->
        <mat-card-title>
          <a [routerLink]="['/holdings', mmsId, 'view', holding.ID, mmsTitle]">
            {{'Holdings.ID' | translate}}: {{holding.ID}}
          </a>
        </mat-card-title>

        <mat-card-content>
          <!-- <span><strong>{{'Holdings.Library' | translate}}: {{holding.library}}</strong></span> -->
          <span><strong>{{'Holdings.Library' | translate}}: {{holding.libraryFullName}}</strong></span>
          <!-- <span><strong>{{'Holdings.Location' | translate}}: {{holding.location}}</strong></span> -->
          <span><strong>{{'Holdings.Location' | translate}}: {{holding.LOC}}</strong></span>
          <span><strong>{{holding.info}}</strong></span>

        </mat-card-content>
        <mat-card-actions>
          <button mat-button [disabled]="!holding.editable" mat-stroked-button aria-label="Edit"
            [routerLink]="['/holdings', mmsId, 'edit', holding.ID, mmsTitle]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button [disabled]="!holding.editable" mat-stroked-button aria-label="Delete"
            (click)="delete(mmsId, holding.ID)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="commands-container">
    <button mat-stroked-button type="button" color="primary" [routerLink]="['/holdings', mmsId, 'new', mmsTitle]">
      <mat-icon>add</mat-icon> {{ 'Holdings.Add' | translate }}
    </button>
    <!-- <button mat-stroked-button [routerLink]="['']">
      {{'Cancel' | translate}}
    </button> -->
  </div>
</div>