<div class="holdings-wrapper">

  <div class="align-space-between" fxLayout="row">
    <a [routerLink]="['']">
      <button mat-flat-button color="secondary">
        <mat-icon>arrow_back_ios</mat-icon>
        {{'Back' | translate}}
      </button>
    </a>
    <button mat-flat-button color="primary" [routerLink]="['/holdings', mmsId, 'new', mmsTitle]">
      <mat-icon>add</mat-icon> {{ 'Holdings.Add' | translate }}
    </button>
  </div>

  <div>
    <h3>{{mmsTitle}}</h3>

    <div class="holdings-drop-down">
      <mat-form-field class="holdings-mat-drop-down">
        <mat-placeholder>{{'Holdings.Owner' | translate}}</mat-placeholder>
        <mat-select [(value)]="selected" (selectionChange)=onOwnerSelected()>
          <mat-option *ngFor="let owner of owners" [value]="owner.id">
            {{owner.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="isHoldingRecordsExist()" class="title">
      <h2>{{'Holdings.Title' | translate}} ({{getNumOfRecords()}})</h2>
    </div>

    <div class="loading-shade" *ngIf="loading">
      <mat-progress-spinner mode="indeterminate" diameter="50">
      </mat-progress-spinner>
    </div>
  </div>

  <div *ngIf="isHoldingRecordsExist() else emptyList">
    <mat-list>
      <mat-list-item *ngFor="let holding of getDisplayHoldings(); index as i" class="holdings-cards">
        <!-- <mat-card> -->
        <!-- fxLayout="row" -->
        <div class="holdings-card-wrapper">
          <div class="holdings-cards-index">
            <span><strong>{{i + 1}}</strong></span>
          </div>
          <div class="holdings-card-fileds-wrapper">
            <div class="holdings-card-fields">
              <mat-card-title class="flex1">
                <a [routerLink]="['/holdings', mmsId, 'view', holding.ID, mmsTitle]">
                  {{'Holdings.ID' | translate}}: {{holding.ID}}
                </a>
              </mat-card-title>
              <span class="flex1"><strong>{{'Holdings.Library' | translate}}:
                  {{holding.libraryFullName}}</strong></span>
              <span class="flex1"><strong>{{'Holdings.Location' | translate}}: {{holding.LOC}}</strong></span>
              <span class="flex1"><strong>{{holding.info}}</strong></span>

              <div class="flex1">
                <div *ngIf="holding.editable" fxLayout="row">

                  <i class="uxf-icon uxf-pencil eca-button" aria-label="Edit"
                    [routerLink]="['/holdings', mmsId, 'edit', holding.ID, mmsTitle]"></i>

                  <i class="uxf-icon uxf-close eca-button" style="margin-left: 10px;" aria-label="Delete"
                    (click)="delete(mmsId, holding.ID)"></i>

                </div>
              </div>
              <!-- </mat-card-content> -->
            </div>
            <!-- </mat-card-actions> -->
          </div>
        </div>
        <!-- </mat-card> -->
      </mat-list-item>
    </mat-list>
  </div>

  <ng-template #emptyList>
    <div id="emptyList">
      <span class="uxf-icon uxf-list" style="font-size: 3em;"></span>
      <h2>{{'Holdings.NoHoldingRecordsExist' | translate}}</h2>
    </div>
  </ng-template>

</div>