.holdings-wrapper {
  flex-direction: column;
  display: flex;
  //height: calc(100vh - 80px);

  .holdings-title-wrapper {
    display: flex;
    justify-content: space-between;
    .holdings-drop-down {
      margin-left: 20px;
      width: 25%;
      max-width: 200px;
      .holdings-mat-drop-down {
        width: 100%;
        .mat-select {
          min-width: 0px;
        }
      }
    }
  }

  .holdings-cards {
    overflow: auto;
    //border-bottom: 1px solid grey;
    //border-top: 1px solid grey;
    padding: 10px;
    padding-left: 0px;
    padding-right: 15px;
  }
}

mat-card {
  margin: 20px 0;
  background: whitesmoke !important;
}

mat-card-content span {
  display: block;
}

.align-space-between {
  justify-content: space-between;
  margin-bottom: 20px;
}

.edit-commands {
  margin-right: 15px;
}


