@import '../../../../main.scss';

@mixin fields-border {
  border: solid 1px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 5px;
  margin-bottom: 8px;
}

.all-occurrences {
    display: flex;
    flex-wrap: wrap;
    @include fields-border();
  }

.one-occurrence {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  padding-bottom: 10px;
}

.odd {
  background-color: whitesmoke;
}

.border {
  @include fields-border();
}

.occurrence-index {
  margin-bottom: 0px !important;
}

.form-fields {
  @include form-fields-parent;
  row-gap: 10px;
  width: 100%;
  min-width: 50px;
}

@include form-feild-full-width;
  
@include form-field-half;

@include form-field-third;
  
@include form-field-quarter;

.mat-error {
  padding-top: 12px;
}

multi-occurrence-controllers {
  align-self: flex-end;
  margin-bottom: 8px !important;
}

