<div class="all-occurrences">
  <div class="one-occurrence" *ngFor="let fieldsArr of contentArray; index as i" fxLayout="row">
    <div class="form-fields">
      <form *ngFor="let field of fieldsArr" class="{{field.getFieldLength()}}">
        <mat-form-field appearance="outline">
          <mat-label>{{ field.getFieldLabel() | translate }}</mat-label>
          <input matInput [formControl]="field.getFormControl()">
        </mat-form-field>
      </form>
    </div>
    <multi-occurrence-controllers [isAddEnabled]="isLastOccurrence(i)" [isDeleteEnabled]="isFirstOccurrence(i)"
      (selectedController)="onControllerClick($event, i)"></multi-occurrence-controllers>
  </div>
</div>