<div class="align-space-between" fxLayout="row">
  <a>
    <button mat-flat-button color="secondary" (click)="backToSearchRecord()">
      <mat-icon>arrow_back_ios</mat-icon>
      {{'General.Back' | translate}}
    </button>
  </a>
  <div class="align-to-right" fxLayout="row">
    <button mat-flat-button color="primary" aria-label="search" (click)="next()" [disabled]="selectedIndex.length == 0">
      {{ 'General.Next' | translate }}
    </button>
  </div>
</div>

<div>
  <div class="align-space-between" fxLayout="row">
    <h1>{{'Holdings.Main.SerachHoldings' | translate}}</h1>
    <div class="align-to-right" fxLayout="row">
      <button style="margin-right: 15px" mat-flat-button color="secondary" (click)="clear()">
        {{ 'General.Clear' | translate }}
      </button>
      <button mat-flat-button color="primary" aria-label="search" (click)="search()">
        {{ 'Holdings.Main.RetrieveHoldings' | translate }}
      </button>
    </div>
  </div>
  <div class="top-title">
    <h3>{{mmsTitle}} ({{nacsisId}})</h3>
  </div>
</div>

<div class="loading-shade" *ngIf="loading">
  <mat-progress-spinner mode="indeterminate" diameter="50">
  </mat-progress-spinner>
</div>

<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState()" (closed)="panelCloseState()" [expanded]="panelState">
    <mat-expansion-panel-header collapsedHeight="35px" expandedHeight="35px">
      <mat-panel-title *ngIf="!panelState">{{ 'Catalog.Form.RefineSearch' | translate }}</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="form-wrapper">
      <div class="form-cards">
        <mat-card>
          <form [formGroup]="form">
            <div class="form">
              <mat-form-field class="form-card-inputs-small" appearance="outline">
                <mat-label translate>ILL.HoldingSearch.ParticipatingOrgCode</mat-label>
                <input cdkTextareaAutosize matInput formControlName="FANO">
              </mat-form-field>

              <mat-form-field class="form-card-inputs-small" appearance="outline">
                <mat-label translate>ILL.HoldingSearch.Volume</mat-label>
                <input cdkTextareaAutosize matInput formControlName="VOL_HLV">
              </mat-form-field>

              <mat-form-field class="form-card-inputs-small" appearance="outline">
                <mat-label translate>ILL.HoldingSearch.Year</mat-label>
                <input cdkTextareaAutosize matInput formControlName="CPYR_HLYR">
              </mat-form-field>

              <mat-form-field class="form-card-inputs-small" appearance="outline">
                <mat-label translate>ILL.HoldingSearch.Location</mat-label>
                <input cdkTextareaAutosize matInput formControlName="LOC">
              </mat-form-field>

              <mat-form-field class="form-card-inputs-medium" appearance="outline">
                <mat-label translate>ILL.HoldingSearch.RegionCode</mat-label>
                <mat-select [formControl]="regionCode" multiple>
                  <mat-option *ngFor="let regionCode of regionCodeList" [value]="regionCode">
                    {{regionCode}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="form-card-inputs-medium" appearance="outline">
                <mat-label translate>ILL.HoldingSearch.EstablisherType</mat-label>
                <mat-select [formControl]="establisherType" multiple>
                  <mat-option *ngFor="let establisherType of establisherTypeList" [value]="establisherType.value">
                    {{establisherType.viewValue | translate}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="form-card-inputs-medium" appearance="outline">
                <mat-label translate>ILL.HoldingSearch.InstitutionType</mat-label>
                <mat-select [formControl]="institutionType" multiple>
                  <mat-option *ngFor="let institutionType of institutionTypeList" [value]="institutionType.value">
                    {{institutionType.viewValue | translate}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="form-card-inputs-medium" appearance="outline">
                <mat-label translate>ILL.HoldingSearch.ILLParticipationType</mat-label>
                <mat-select [formControl]="iLLParticipationType">
                  <mat-option *ngFor="let iLLParticipationType of iLLParticipationTypeList"
                    [value]="iLLParticipationType.value">
                    {{iLLParticipationType.viewValue | translate}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="form-card-inputs-medium" appearance="outline">
                <mat-label translate>ILL.HoldingSearch.ServiceStatus</mat-label>
                <mat-select [formControl]="serviceStatus">
                  <mat-option *ngFor="let serviceStatus of serviceStatusList" [value]="serviceStatus.value">
                    {{serviceStatus.viewValue | translate}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="form-card-inputs-medium" appearance="outline">
                <mat-label translate>ILL.HoldingSearch.OffsetCharge</mat-label>
                <mat-select [formControl]="offsetCharge">
                  <mat-option *ngFor="let offsetCharge of offsetChargeList" [value]="offsetCharge.value">
                    {{offsetCharge.viewValue | translate}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="form-card-inputs-medium" appearance="outline">
                <mat-label translate>ILL.HoldingSearch.CopyServiceType</mat-label>
                <mat-select [formControl]="copyServiceType" multiple>
                  <mat-option *ngFor="let copyServiceType of copyServiceTypeList" [value]="copyServiceType.value">
                    {{copyServiceType.viewValue | translate}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="form-card-inputs-medium" appearance="outline">
                <mat-label translate>ILL.HoldingSearch.LendingServiceType</mat-label>
                <mat-select [formControl]="lendingServiceType" multiple>
                  <mat-option *ngFor="let lendingServiceType of lendingServiceTypeList"
                    [value]="lendingServiceType.value">
                    {{lendingServiceType.viewValue | translate}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="form-card-inputs-medium" appearance="outline">
                <mat-label translate>ILL.HoldingSearch.FAXServiceType</mat-label>
                <mat-select [formControl]="fAXServiceType" multiple>
                  <mat-option *ngFor="let fAXServiceType of fAXServiceTypeList" [value]="fAXServiceType.value">
                    {{fAXServiceType.viewValue | translate}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </form>

        </mat-card>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<br><br>

<div [hidden]="!noHoldingRecords && !isHoldingRecordsExist()">
  <div class="align-space-between-no-bottom" fxLayout="row">
    <h2>{{'ILL.Results.Title' | translate}} ({{numOfResults}})</h2>
    <div class="align-to-right-no-bottom">
      <mat-form-field appearance="fill" class="selectedLenders">
        <mat-label>{{'ILL.Results.SelectedLenders' | translate}}</mat-label>
        <mat-chip-list>
          <mat-chip *ngFor="let index of selectedIndex">
            {{index}}
          </mat-chip>
        </mat-chip-list>
      </mat-form-field>
    </div>
  </div>

  <div class="holdings-drop-down" fxLayout="row">
    <mat-form-field class="holdings-mat-drop-down">
      <mat-placeholder>{{'Holdings.ViewHoldings.Owner' | translate}}</mat-placeholder>
      <mat-select [(value)]="selected" (selectionChange)=onOwnerSelected()>
        <mat-option *ngFor="let owner of owners" [value]="owner.id">
          {{owner.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="align-to-right-no-bottom" fxLayout="row">
      <span class="align-to-right-space" [hidden]="isMaxRowSelected">
        {{selectedIndex.length}} {{'ILL.Results.RowSelected' | translate}}
      </span>
      <span style="color:#F00;" class="align-to-right-space" [hidden]="!isMaxRowSelected">
        {{'ILL.Results.MaxRowSelected' | translate}}
      </span>
      <a href="javascript:void(0);" (click)="clearSelection()">
        {{'ILL.Results.ClearSelection' | translate}}</a>
    </div>
  </div>

  <div [hidden]="!isHoldingRecordsExist()">
    <table mat-table [dataSource]="displayHoldingResult" matSort (matSortChange)="announceSortChange($event)"
      multiTemplateDataRows>

      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow">
          </th>
        <td mat-cell *matCellDef="let element"> {{element.index}} </td>
      </ng-container>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox #myCheckbox [(ngModel)]="row.checked" (change)="getCheckboxesData(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow">
          {{'ILL.HoldingSearchResult.NAME' | translate}} </th>
        <td mat-cell *matCellDef="let element"> 
          <a (click)="expandedElement = onActionsClick(expandedElement,element, 1)">
              {{element.name}}
          </a> 
        </td>
      </ng-container>

      <ng-container matColumnDef="vol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow">
          {{'ILL.HoldingSearchResult.VOL' | translate}} </th>
        <td mat-cell *matCellDef="let element" >
          <mat-select (selectionChange)=onVolSelected($event,element) *ngIf="isShowVolValue(element)" [value]="setVolValue(element)">
            <mat-option *ngFor="let vol of element.vol" [value]="vol.index">
              {{vol.VOL}}
            </mat-option>
          </mat-select>
        </td>
      </ng-container>

      <ng-container matColumnDef="hlv">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow">
          {{'ILL.HoldingSearchResult.HLV' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.hlv}} </td>
      </ng-container>

      <ng-container matColumnDef="hlyr">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow">
          {{'ILL.HoldingSearchResult.HLYR' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.hlyr}} </td>
      </ng-container>

      <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow">
          {{'ILL.HoldingSearchResult.KENCODE' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.region}} </td>
      </ng-container>

      <ng-container matColumnDef="establisher">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow">
          {{'ILL.HoldingSearchResult.SETCODE' | translate}}</th>
        <td mat-cell *matCellDef="let element"> {{element.establisher}} </td>
      </ng-container>

      <ng-container matColumnDef="institutionType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow">
          {{'ILL.HoldingSearchResult.ORGCODE' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.institutionType}} </td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow">
          {{'ILL.HoldingSearchResult.LOC' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.location}} </td>
      </ng-container>


      <ng-container matColumnDef="photoCopy_fee">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow">
          {{'ILL.HoldingSearchResult.SUM' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.photoCopy_fee}} </td>
      </ng-container>

      <ng-container matColumnDef="ill">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow">
          {{'ILL.HoldingSearchResult.ILLFLG' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.ill}} </td>
      </ng-container>

      <ng-container matColumnDef="stat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow">
          {{'ILL.HoldingSearchResult.STAT' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.stat}} </td>
      </ng-container>

      <ng-container matColumnDef="photoCopy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow">
          {{'ILL.HoldingSearchResult.COPYS' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.photoCopy}} </td>
      </ng-container>

      <ng-container matColumnDef="loan">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow">
          {{'ILL.HoldingSearchResult.LOANS' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.loan}} </td>
      </ng-container>

      <ng-container matColumnDef="fax">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow">
          {{'ILL.HoldingSearchResult.FAXS' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.fax}} </td>
      </ng-container>

      <ng-container matColumnDef="actionsColumn">
        <th mat-header-cell *matHeaderCellDef>
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button class="result-actions-button" [matMenuTriggerFor]="actionsMenu" color="primary">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #actionsMenu="matMenu" xPosition="before">
            <div *ngFor="let item of getActionMenu(); index as Actionsindex">
              <button mat-menu-item type="submit"
                (click)="expandedElement = onActionsClick(expandedElement,element, Actionsindex)">
                {{ item | translate }}
              </button>
            </div>
          </mat-menu>
        </td>
      </ng-container>


      <ng-container matColumnDef="viewHoldingDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]=" getDisplayedColumns().length">
          <div class="expand-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="expand-element-diagram">
              <table class="noCollapse">
                <tr class="expand-tr">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="expand-close-button">
                    <button mat-button (click)="expandedElement = expandedElement === element ? null : element">
                      <mat-icon>keyboard_arrow_up</mat-icon>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="expand-left-column">
                    {{element.id}}
                  </td>
                  <td class="expand-middle-column">
                    <span class="expand-middle-column-header">{{'ILL.HoldingSearchResult.CRTDT' |
                      translate}}:</span>{{element.crtdt}}
                  </td>
                  <td class="expand-middle-column">
                    <span class="expand-middle-column-header">{{'ILL.HoldingSearchResult.RNWDT' |
                      translate}}:</span>{{element.rnwdt}}
                  </td>
                </tr>
                <tr class="expand-tr">
                  <td class="expand-left-column">
                    {{'ILL.HoldingSearchResult.FANO' | translate}}:
                  </td>
                  <td>
                    {{element.fano}}
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="expand-left-column">
                    {{'ILL.HoldingSearchResult.NAME' | translate}}:
                  </td>
                  <td>
                    {{element.name}}
                  </td>
                </tr>
                <tr class="expand-tr">
                  <td class="expand-left-column">
                    {{'ILL.HoldingSearchResult.LOC' | translate}}:
                  </td>
                  <td> {{element.location}} </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr *ngFor="let volume of element.vol;index as i" class="{{isEvenRow(i)}}">
                  <td class="expand-left-column">
                    {{'ILL.HoldingSearchResult.Volume' | translate}}:
                  </td>
                  <td class="expand-middle-column">
                    <span class="expand-middle-column-header">{{'ILL.HoldingSearchResult.VOL' |
                      translate}}:</span>{{volume.VOL}}
                  </td>
                  <td class="expand-middle-column" *ngIf="volume.RGNT">
                    <span class="expand-middle-column-header">{{'ILL.HoldingSearchResult.RGNT' |
                      translate}}:</span>{{volume.RGNT}}
                  </td>
                  <td *ngIf="!volume.RGNT"></td>
                  <td class="expand-right-column" *ngIf="volume.LDF">
                    <span class="expand-middle-column-header">{{'ILL.HoldingSearchResult.LDF' |
                      translate}}:</span>{{volume.LDF}}
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr *ngIf="!isBook && element.hlyr">
                  <td class="expand-left-column">
                    {{'ILL.HoldingSearchResult.HLYR' | translate}}:
                  </td>
                  <td>
                    {{element.hlyr}}
                  </td>
                </tr>
                <tr *ngIf="!isBook && element.hlv" class="expand-tr">
                  <td class="expand-left-column">
                    {{'ILL.HoldingSearchResult.HLV' | translate}}:
                  </td>
                  <td style="width:30%">
                    {{element.hlv}}
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="!isBook && element.cln">
                  <td class="expand-left-column">
                    {{'ILL.HoldingSearchResult.CLN' | translate}}:
                  </td>
                  <td>
                    {{element.cln}}
                  </td>

                </tr>
                <tr *ngIf="!isBook && element.ldf" class="expand-tr">
                  <td class="expand-left-column">
                    {{'ILL.HoldingSearchResult.LDF' | translate}}:
                  </td>
                  <td>
                    {{element.ldf}}
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </div>

          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="viewMemInfoDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]=" getDisplayedColumns().length">
          <div class="expand-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="expand-element-diagram">
              <div class="expand-close-button">
                <button mat-button (click)="expandedElement = expandedElement === element ? null : element">
                  <mat-icon>keyboard_arrow_up</mat-icon>
                </button>
              </div>
              <div class="full-view">
                <div class="full-view-left-table" *ngIf="!(isColapsedMode && isRightTableOpen)">
                  <full-view-display-member [resultFullDisplay]="resultFullDisplay"
                    (onFullViewLinkSelected)="onFullViewLink($event)">
                  </full-view-display-member>
                </div>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
      <tr mat-row *matRowDef="let element; columns: getDisplayedColumns();" class="expand-element-row"></tr>
      <tr mat-row *matRowDef="let row; columns: getExpandedDetailColumns();" class="expand-detail-row"></tr>
    </table>
  </div>
</div>
<br><br><br>

<div [hidden]="!noHoldingRecords" id="emptyList" class="noResults">
  <span class="uxf-icon uxf-list" style="font-size: 3em;"></span>
  <h2>{{'Holdings.ViewHoldings.NoHoldingRecordsExist' | translate}}</h2>
</div>

<br><br><br>