.align-space-between {
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .align-space-between-no-bottom {
    justify-content: space-between;
  }
  
  .align-to-left {
    justify-content: flex-start;
    margin-bottom: 15px;
  }
  
  .align-to-right {
    justify-content: flex-end;
    margin-bottom: 15px;
  }

  .align-to-right-no-bottom {
    justify-content: flex-end;
  }

  mat-form-field {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  mat-checkbox {
    margin-left: 15px;
  }
  
  mat-card {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 0;
    padding: 0px;
    background: whitesmoke !important;
  }
  
  .form-wrapper {
    flex-direction: column;
    display: flex;
  
    .form-cards {
      overflow: auto;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 0px;
      padding-right: 0px;
      margin-bottom: 40px;
       .form-card-inputs {
         padding-top: 10px;
         ::ng-deep .mat-form-field-wrapper {
          padding-bottom: 10px !important;
      }
      }
    }
  
    .form-commands {
      margin-right: 15px;
    }
  
    .form-input-location {
      margin-right: 0px;
      margin-left: 0px;
      margin-bottom: 0px;
      width: 15%;
      min-width: 250px;
    }
  
    .align-to-right {
      justify-content: flex-end;
      margin-bottom: 20px;
    }

  
    div.form {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      column-gap: 1em;
    }
  
    mat-list-item {
      i.eca-button,
      i.cloudapp-button {
        visibility: visible !important;
      }
      &:hover i.eca-button,
      &:hover i.cloudapp-button {
        visibility: visible;
      }
    }
  }
  
.holdings-drop-down {
  width: 100%;
  background:rgb(238, 238, 238);
  justify-content: space-between;
  .holdings-mat-drop-down {
    max-width: 200px;
    width: 100%;
    .mat-select {
      min-width: 0px;
    }
  }
  .align-to-right-no-bottom {
    justify-content: flex-end;
    padding: 20px;
    .align-to-right-space{
      margin-right: 30px;
    }
  }
}

#emptyList {
  text-align: center;
  height: fit-content;
  //background-color: #f5f5f5;
  margin-top: 40px;
}

 ::ng-deep.mat-menu-panel {
     width: 150px;
     position:fixed;
     overflow: hidden;
   }

// ::ng-deep .mat-menu-content {
//   width: 200px;
// }

table {
  width: 100%;
}

:host ::ng-deep .mat-sort-header-container { 
  display: flex;  
  justify-content: center; 
}

th.mat-header-cell {
  background-color: rgb(78, 78, 78);
  color: white;
}

.mat-column-select {
  overflow: initial;
}

td.mat-cell {
  text-align: center;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

td.mat-cell:first-child {
  padding-left: 0px;
  border-left: 1px solid lightgray;
}

td.mat-cell:last-child {
  padding-right: 0px;
}


th.mat-header-cell:first-child {
  padding-left: 5px;
  border-left: 1px solid lightgray;
}

th.mat-header-cell:last-child {
  padding-right: 0px;
}


.mat-column-index{
  width: 3% !important;
}
.mat-column-select{
  margin: 0,auto !important;
  width: 3% !important;
}
.mat-column-ill{
  width: 3% !important;
}
.mat-column-photoCopy_fee{
  width: 6% !important;
}
.mat-column-stat{
  width: 3% !important;
}
.mat-column-photoCopy{
  width: 3% !important;
}
.mat-column-loan{
  width: 3% !important;
}
.mat-column-fax{
  width: 3% !important;
}

tr.expand-detail-row {
  height: 0;
}

tr.expand-element-row:not(.expand-expanded-row):hover {
  background: whitesmoke;
}

tr.expand-element-row:not(.expand-expanded-row):active {
  background: #efefef;
}
.expand-element-row td {
  border-bottom-width: 0;
}

.expand-element-detail {
  overflow: hidden;
  display: flex;
}

.expand-element-diagram {
  min-width: 80px;
  border: 1px solid rgb(167, 167, 167);
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  text-align: left;
  .expand-left-column{
    font-weight: bold;
    background-color: rgb(207, 238, 248);
    text-align: right;
  }
  .expand-middle-column{
    font-weight: bold;
  }

}


